<div class="card-header">
  <span [appState]='commandes.state'></span>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ commandes.name }}</h4>
    <p class="card-text">ref:{{ commandes.reference }}</p>
    <div *ngIf="state.LIVREE != commandes.state">
        <button class="btn btn-primary" *ngIf="state.ENCOURS != commandes.state" (click)="changeState(commandes, state.ENCOURS)">En cours</button>
        <button class="btn btn-primary" (click)="changeState(commandes, state.LIVREE)">livrée</button>
      </div>
  </div>
