/* You can add global styles to this file, and also import other style files */
.card { margin-top: 1rem;}

.state-0 {
  color: red;
}

.state-1 {
  color: rgb(46, 8, 216);
}

.state-2 {
  color: rgb(20, 199, 74);
}
